#start-game {
   width: 211px;
   height: 66px;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   text-transform: uppercase;
   color: black;

    border-radius: 10%;
   border: solid;
   cursor: pointer;
}

.Abilties {
   width: 211px;
   height: 66px;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   text-transform: uppercase;
   color: black;

    border-radius: 10%;
   border: solid;
   cursor: pointer;
}

.war1 {
	position: fixed;
    top: 20px;
    left: 250px;
    width: 200px;
    height: 200px;
    float: right;

     
}

.wiz1 {
	position: fixed;
    top: 20px;
    left: 470px;
    width: 200px;
    height: 200px;
    float: right;
}

.thief1 {
	position: fixed;
    top: 20px;
    left: 650px;
    width: 200px;
    height: 200px;
    float: right;
}

.bard1 {
	position: fixed;
    top: 320px;
    left: 250px;
    width: 200px;
    height: 200px;
    float: right;
}

.healer1 {
	position: fixed;
    top: 300px;
    left: 470px;
    width: 200px;
    height: 200px;
    float: right;
}

.dragonKnight1 {
	position: fixed;
    top: 300px;
    left: 650px;
    width: 200px;
    height: 200px;
    float: right;
}

#warrior1-play {
	text-align: center;
 
}

#abilitiesDiv {
	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   border-style: solid;
   background-color: green;
}

#strDiv {
	border-style: solid;
	color: red;
}

#intDiv {
	border-style: solid;
	color: blue;
}

#wisDiv {
	border-style: solid;
	color: purple;
} 

#dexDiv {
	border-style: solid;
	color: orange;
}

#conDiv {
	border-style: solid;
	color: lightblue;
}

#chrDiv {
border-style: solid;
color: lightgreen;
}

#healthDiv {
	border-style: solid;
	color: aqua;
}
#magicDiv {
	border-style: solid;
	color: purple;
}

#expDiv {
	border-style: solid;
	color: brown;
}

#attackDiv {
	border-style: solid;
	color: white;
}

.shopDiv {
  border-style: solid;
  border-color: red;
  border-width: 10px;
  width: 200px;
}

#sword:hover {
  color: red;

}

#dagger:hover {
  color:red;
}

#axe:hover {
  color:red;
}

#longSword:hover {
  color:red;
}

.itemsDiv {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: green;
  
}